<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>public Phumlani Mthembu</title>
    <!--if possible i need to try and see if i can -->
    <!-- generate the content from back-end -->

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

</head>

<body>

<span>{{#each counter}}{{this}}{{/each}}</span>
</body>
</html>